body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c9c9c9;


  display: flex;
flex-direction: column;
min-height: 100vh;
}

header {
  background-color: #afafaf;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


ll a {
  color:#e40000;
  text-decoration: none;
  font-size: 40px;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

header form {
  display: flex;
  align-items: center;
}


header input[type="text"] {
  padding: 12px 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header button[type="submit"] {
  background-color: #c00000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
  flex: 1;

}

main h2 {
  margin-top: 10px;
}

main ul {
  list-style-type: none;
  background-color: #c9c9c9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



main li {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border-radius: 4px;
}

main lc {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #c00000;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
}
main a {
  text-decoration: none;
  color: white;
}

main linke a {
  text-decoration: none;
  color: #1967d2;
}

main img {
  max-width: 200px;
max-height: 200px;
  border-radius: 8px 8px 0 0;
}

main h3 {
  margin-top: 0;
}

main p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

main button {
  background-color: #c00000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

footer {
  background-color: #535353;
  padding: 30px;
  margin-top: 270px;
  justify-content: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li a {
  margin-right: 20px;
  color: rgb(255, 255, 255);

}

footer p {
  margin-top: 110px;
  color: rgb(255, 255, 255);
}

footer a {
  text-decoration: none;
  color: black;
}

.latest-project-container {
text-align: center;
margin-bottom: 30px;
}

.latest-project-box {
display: inline-block;
padding: 10px;
border: 2px solid #ccc;
border-radius: 10px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.latest-project-box img {
width: 110%;
height: auto;
display: block;
margin: 0 auto;
}

.latest-project-caption {
font-size: 18px;
font-weight: bold;
margin-top: 10px;
text-align: center;
}